.landing-page-container {
  height: 100%;
  width: 100vw;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 10rem;
}